/*Body style*/

body {
    background-color: #3a3a3a;
    font-family: "Verdana";
    color: whitesmoke;
    
    -webkit-user-select: none;
     -khtml-user-select: none; 
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* Standard tag styles */

button {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 1px;
    background: none;
    background-color: #d8d8d8;
    color: #3a3a3a;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-left: 4px;
    margin-right: 4px;
}

input[type=password],input[type=text] {
    font-size: 14px;
    background-color: rgba(125, 125, 125, 0.75);
    border-radius: 1px;
    outline: none;
    border: none;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5);
    cursor: pointer;
    padding: 3px;
    color: whitesmoke;
}

input[type=password],input[type=text]:hover {
    background-color: rgba(125, 125, 125, 0.825);
}

button:hover {
    opacity: .85;
}

p {
    margin: 0px;
    padding: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

canvas {
    z-index: 0;
}

/* Classes */

/* Text */
.title {
    font-size: 28px;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.5);
}

.header {
    font-size: 20px;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.5);
}

.info {
    font-size: 13px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.25);
}

.link {
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    opacity: .85;
}

/* Content */
.box {
    border-radius: 2px;
    background-color: rgba(48, 48, 48, .75);
    padding: 6px;
    line-height: 17px;
    box-shadow: 0px 2px 1px rgba(0,0,0,0.25);
    pointer-events: auto;
}

.inner-box {
    border-radius: 2px;
    background-color: rgba(58, 58, 58, .75);
    box-shadow: 0px 2px 1px rgba(0,0,0,0.125);
    pointer-events: auto;
}

.content {
    border-radius: 2px;
    background-color: rgba(65, 65, 65, .85);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.25);
    padding: 2px;
}

.slot {
    position: relative;
    border-radius: 3px;
    background-color: rgba(175, 175, 175, .85);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.45);
    border: 1px solid gray;
    padding: 4px;
    width: 32px;
    height: 32px;
    margin: 3px;
    display: inline-block;
    overflow: hidden;
}

.slot:hover {
    opacity: .85;
    cursor: pointer;
}

.bar {
    width: 100%;
    height: 11px;
    border-radius: 6px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.25);
    border: 1px solid gray;
    overflow: hidden;
    margin-top: 8px;
}

.bar_content {
    height: 100%;
    box-shadow: inset 0px 1px 1px rgba(255,255,255,0.25);
}

.cooldown {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
}

.thumb {
    width: 20px;
    height: 20px;
}

/* Overlay style - customization is not advised */

#overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}